[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/imgui_club"]
	path = third_party/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/zstr"]
	path = third_party/zstr
	url = https://github.com/mateidavid/zstr.git
[submodule "third_party/uC-sdk"]
	path = third_party/uC-sdk
	url = https://github.com/grumpycoders/uC-sdk.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/http-parser"]
	path = third_party/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "third_party/ELFIO"]
	path = third_party/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "third_party/libcester"]
	path = third_party/libcester
	url = https://github.com/exoticlibraries/libcester.git
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/grumpycoders/LuaJIT.git
[submodule "third_party/luv"]
	path = third_party/luv
	url = https://github.com/luvit/luv.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/tracy"]
	path = third_party/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "third_party/magic_enum"]
	path = third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "third_party/ucl"]
	path = third_party/ucl
	url = https://github.com/Distrotech/ucl.git
[submodule "third_party/SDL_GameControllerDB"]
	path = third_party/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak
[submodule "third_party/zep"]
	path = third_party/zep
	url = https://github.com/grumpycoders/zep.git
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "third_party/capstone"]
	path = third_party/capstone
	url = https://github.com/capstone-engine/capstone.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
[submodule "third_party/curl"]
	path = third_party/curl
	url = https://github.com/curl/curl
[submodule "third_party/expected"]
	path = third_party/expected
	url = https://github.com/TartanLlama/expected.git
