# Visual Studio files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

#Clion Files
.idea/

Debug/
Release/
ReleaseWithTracy/
ReleaseWithClangCL/
ReleaseCLI/
Enabled/
Disabled/

.vs/
.vscode/*.log

ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

vsprojects/packages

.Trash-1000/

# Linux files
*.o
*.dep
/pcsx-redux
/pcsx.json
/memcard1.mcd
/memcard2.mcd

# Temporary files from pcsx itself
pcsx.json
*.mcd

# FastBuild and msfastbuild stuff
*.bff
*.fdb
fb.bat

# macos files
.DS_store


# Savestate files
*.sstate
*.sstate0
*.sstate1
*.sstate2
*.sstate3
*.sstate4
*.sstate5
*.sstate6
*.sstate7
*.sstate8
*.sstate9

# GPU dump files
*.dump 

# IDA database files
*.id0
*.id1
*.nam
*.til
*.idb

# Runtime files in ./resources
offscreen.frag
offscreen.lua
offscreen.vert
offscreen.json
output.json
output.frag
output.lua
output.vert
hw-renderer.frag
hw-renderer.lua
hw-renderer.vert
vram-viewer.frag
vram-viewer.lua
vram-viewer.vert
pcsx.lua
DynarecOutput.map
DynarecProfileData.txt
DynarecDisassembly.txt
sstate.proto
