[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/imgui_club"]
	path = third_party/imgui_club
	url = https://github.com/ocornut/imgui_club.git
[submodule "third_party/ImGuiColorTextEdit"]
	path = third_party/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git
[submodule "third_party/zstr"]
	path = third_party/zstr
	url = https://github.com/mateidavid/zstr.git
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
