[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/imgui_club"]
	path = third_party/imgui_club
	url = https://github.com/ocornut/imgui_club.git
