trigger:
- master

pool:
  vmImage: 'windows-2019'

variables:
  solution: 'vsprojects/pcsx-redux.sln'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: PowerShell@2
  inputs:
    targetType: 'InlineScript'
    script: |
      wget https://christiansoltenborn.gallerycdn.vsassets.io/extensions/christiansoltenborn/googletestadapter/0.17.1.1389/1571333606547/GoogleTestAdapter-0.17.1.vsix -OutFile GoogleTestAdapter-0.17.1.zip

- task: ExtractFiles@1
  inputs:
    archiveFilePatterns: 'GoogleTestAdapter-0.17.1.zip'
    destinationFolder: 'GoogleTestAdapter'
    cleanDestinationFolder: true'

- task: CopyFiles@2
  inputs:
    Contents: |
      LICENSE
      i18n/*.po
    TargetFolder: '$(build.artifactStagingDirectory)/assets'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: 'x86'
    maximumCpuCount: true
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  inputs:
    Contents: |
      vsprojects/Release/pcsx-redux.exe
      vsprojects/Release/*.dll
    TargetFolder: '$(build.artifactStagingDirectory)/binaries'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: 'x64'
    maximumCpuCount: true
    configuration: '$(buildConfiguration)'

- task: CopyFiles@2
  inputs:
    Contents: |
      vsprojects/x64/Release/pcsx-redux.exe
      vsprojects/x64/Release/*.dll
    TargetFolder: '$(build.artifactStagingDirectory)/binaries'

- task: VSTest@2
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: |
      **\*.exe
      !**\pcsx-redux.exe
    searchFolder: '$(System.DefaultWorkingDirectory)'
    pathtoCustomTestAdapters: 'GoogleTestAdapter'
    codeCoverageEnabled: True

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'
