NET "A1" LOC="P1";
NET "A2" LOC="P2";
NET "A3" LOC="P3";
NET "A4" LOC="P4";

NET "A16" LOC="P6";
NET "A17" LOC="P7";
NET "A18" LOC="P8";
NET "A19" LOC="P9";
NET "A20" LOC="P10";
NET "A21" LOC="P11";
NET "A22" LOC="P12";

NET "D<7>" LOC="P13";
NET "D<6>" LOC="P14";
NET "D<5>" LOC="P15";
NET "D<4>" LOC="P16";
NET "D<3>" LOC="P17";
NET "D<2>" LOC="P18";
NET "D<1>" LOC="P19";
NET "D<0>" LOC="P20";

NET "nWR" LOC="P22" | BUFG="CLK";
NET "nRD" LOC="P23" | BUFG="CLK";
NET "nCS_SRAM" LOC="P24";
NET "nCS_SWITCH" LOC="P25";

NET "CLK" LOC="P27" | BUFG="CLK";

NET "A20_FLASH" LOC="P28";
NET "nCS_FLASH" LOC="P29";
NET "A20_SOCKET" LOC="P33";
NET "nCS_SOCKET" LOC="P34";

NET "JP1" LOC="P35";
NET "JP2" LOC="P36";

NET "nCS_CH" LOC="P37";
NET "nIN_CH" LOC="P39";
NET "CS_LEDS" LOC="P40";

NET "SOFT" LOC="P50";

NET "nCS_PORTB" LOC="P53";
NET "A0_PORTA" LOC="P54";
NET "nCS_PORTA" LOC="P55";
NET "nRESET_FT" LOC="P56";

NET "GPIO<9>" LOC="P58";
NET "GPIO<10>" LOC="P60";
NET "GPIO<7>" LOC="P63";

NET "DACK" LOC="P64";

NET "GPIO<8>" LOC="P65";

NET "nWR2" LOC="P66";

NET "GPIO<5>" LOC="P68";

NET "DREQ" LOC="P71";

NET "GPIO<3>" LOC="P73";
NET "GPIO<1>" LOC="P74";

NET "SW1" LOC="P76";
NET "SW2" LOC="P77";

NET "GPIO<6>" LOC="P78";
NET "GPIO<4>" LOC="P79";

NET "A20_SRAM" LOC="P80";

NET "GPIO<2>" LOC="P81";

NET "nIN10" LOC="P82";

NET "SBEN" LOC="P85";

NET "nCS0" LOC="P86";
NET "nCS2" LOC="P87";

NET "PD<0>" LOC="P89";
NET "PD<1>" LOC="P90";
NET "PD<2>" LOC="P91";
NET "PD<3>" LOC="P92";
NET "PD<4>" LOC="P93";
NET "PD<5>" LOC="P94";
NET "PD<6>" LOC="P95";
NET "PD<7>" LOC="P96";

NET "A0" LOC="P97";

NET "nRESET" LOC="P99";
