@media print {
  .md-typeset {
    font-size: 1rem !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
  .md-typeset code {
    font-size: 1em !important;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
  }
}
